<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<!-- x-release-please-start-version -->
	<string>1.0.0</string>
	<!-- x-release-please-end -->
	<key>ServerApiVersion</key>
	<string>3.4</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>SmartRent</string>
	<key>CFBundleIdentifier</key>
	<string>com.lionsheeptechnology.SmartRent</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>https://forums.indigodomo.com/viewforum.php?f=330</string>
		</dict>
	</array>
</dict>
</plist>
