name: Add Release Artifacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build plugin artifact
        run: zip -r SmartRent.indigoPlugin.zip SmartRent.indigoPlugin

      - name: Upload Release Asset
        run: gh release upload ${{ github.ref_name }} SmartRent.indigoPlugin.zip
        env:
            GH_TOKEN: ${{ github.token }}