name: Add Release Artifacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Build plugin artifact
        run: zip -r SmartRent.indigoPlugin.zip SmartRent.indigoPlugin

      - name: Upload Release Asset
        run: gh release upload ${{ github.ref_name }} SmartRent.indigoPlugin.zip
        env:
            GH_TOKEN: ${{ github.token }}